@layer fonts {

  @font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter-variable.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 100 900;
  }
}